.card{
    animation: rotate .5s;
    transition: all .3s ease;
}
.card:hover{
    transform: translateY(-3px);
    
}
.card:hover div:first-child{
    background-color: white;
}
.card:hover img{
    scale: 1.2;
}
@keyframes rotate{
    0%{
        transform: translateY(10rem);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
